name: CellTracker

services:
  celltracker.api:
    image: ${DOCKER_REGISTRY-}celltrackerapi
    container_name: api
    build:
      context: .
      dockerfile: CellTracker.Api/Dockerfile
    environment:
      - DB_HOST=appdb
      - DB_NAME=Tracker
      - DB_USER=test
      - DB_PASSWORD=test
      - MQTT_BROKER_HOST=mosquitto
      - MQTT_BROKER_PORT=1883
      - JWT__KEY=your-secret-key-here-that-should-also-be-fairly-long
      - JWT__ISSUER=celltracker.api
      - JWT__AUDIENCE=celltracker.app
      - JWT__EXPIRATIONINMINUTES=30
      - JWT__REFRESHTOKENEXPIRATIONDAYS=7
    ports:
      - 5000:8080
      - 5001:8081
    depends_on:
      - appdb
      - celltracker.worker
      - mosquitto
    networks:
      - cellnet

  celltracker.worker:
    image: ${DOCKER_REGISTRY-}celltrackerworker
    container_name: worker
    build:
      context: .
      dockerfile: ../CellTracker.MqttIngestion/Dockerfile
    environment:
      - DB_HOST=appdb
      - DB_NAME=Tracker
      - DB_USER=test
      - DB_PASSWORD=test
    depends_on:
      - appdb
      - mosquitto
      - redis
    networks:
      - cellnet

  mosquitto:
    image: eclipse-mosquitto
    container_name: mosquitto
    ports:
      - "1883:1883"
      - "9001:9001"  # WebSocket if needed
    volumes:
      - ./CellTracker.Api/Configuration/Mosquitto/mosquitto.conf:/mosquitto/config/mosquitto.conf
      - mosquitto_data:/mosquitto/data
    networks:
      - cellnet
  
  appdb:
    image: postgres:latest
    container_name: database
    environment:
      - POSTGRES_DB=Tracker
      - POSTGRES_USER=test
      - POSTGRES_PASSWORD=test
    ports:
      - 5432:5432
    networks:
      - cellnet
  
  redis:
    image: redis:7.4-alpine
    container_name: redis
    ports:
      - "6379:6379"
    # volumes:
    #   - redis_data:/data
    # command: ["redis-server", "--appendonly", "yes"]
    restart: unless-stopped
    networks:
      - cellnet

  # influxdb:
  #   image: influxdb
  #   container_name: influx
  #   restart: unless-stopped
  #   ports:
  #     - "5086:8086"
   # credentials?

volumes:
  mosquitto_data:
  # mosquitto_config:
networks:
  cellnet:
    name: cellnet
    driver: bridge
    external: true
