name: CellTracker

services:
  celltracker.api:
    image: ${DOCKER_REGISTRY-}celltrackerapi
    container_name: api
    build:
      context: .
      dockerfile: CellTracker.Api/Dockerfile
    environment:
      - DB_HOST=appdb
      - DB_NAME=Tracker
      - DB_USER=test
      - DB_PASSWORD=test
      - MQTT_BROKER_HOST=172.22.103.100
      - MQTT_BROKER_PORT=1883
      - JWT__KEY=your-secret-key-here-that-should-also-be-fairly-long
      - JWT__ISSUER=celltracker.api
      - JWT__AUDIENCE=celltracker.app
      - JWT__EXPIRATIONINMINUTES=30
      - JWT__REFRESHTOKENEXPIRATIONDAYS=7
      - INFLUXDB_TOKEN=my-super-token
      - INFLUXDB_URL=http://influxdbcelliot:8086
      - INFLUXDB_ORG=CellTracker
      - INFLUXDB_BUCKET=CellTracker
      - DISTR_QK=telemetry:distribution_queue
    ports:
      - 5010:8080
      # - 5010:8081
    depends_on:
      - appdb
      - celltracker.worker
      # - mosquitto
    # networks:
    #   - cellnet

  celltracker.worker:
    image: ${DOCKER_REGISTRY-}celltrackerworker
    container_name: worker
    build:
      context: .
      dockerfile: CellTracker.MqttIngestion/Dockerfile
    environment:
      - DB_HOST=appdb
      - DB_NAME=Tracker
      - DB_USER=test
      - DB_PASSWORD=test
      - INFLUXDB_TOKEN=my-super-token
      - INFLUXDB_URL=http://influxdbcelliot:8086
      - INFLUXDB_ORG=CellTracker
      - INFLUXDB_BUCKET=CellTracker
      - RAW_QK=telemetry:raw_queue
      - VALID_QK=telemetry:validated_queue
      - DISTR_QK=telemetry:distribution_queue
    depends_on:
      - appdb
      # - mosquitto
      - redis
    # networks:
    #   - cellnet

  # mosquitto:
  #   image: eclipse-mosquitto
  #   container_name: mosquitto
  #   ports:
  #     - "1883:1883"
  #     # - "9001:9001"  # WebSocket if needed
  #   volumes:
  #     - ./CellTracker.Api/Configuration/Mosquitto/mosquitto.conf:/mosquitto/config/mosquitto.conf
  #     - mosquitto_data:/mosquitto/data
  #   networks:
  #     - cellnet
  
  appdb:
    image: postgres:latest
    container_name: database
    environment:
      - POSTGRES_DB=Tracker
      - POSTGRES_USER=test
      - POSTGRES_PASSWORD=test
    ports:
      - 5432:5432
    # networks:
    #   - cellnet
  
  redis:
    image: redis:7.4-alpine
    container_name: redis
    ports:
      - "6379:6379"
    # volumes:
    #   - redis_data:/data
    # command: ["redis-server", "--appendonly", "yes"]
    restart: unless-stopped
    # networks:
    #   - cellnet

  influxdbcelliot:
    image: influxdb:2.7
    container_name: influxdbcelliot
    ports:
      - "8086:8086"
    environment:
      - DOCKER_INFLUXDB_INIT_MODE=setup
      - DOCKER_INFLUXDB_INIT_USERNAME=testusername
      - DOCKER_INFLUXDB_INIT_PASSWORD=testpassword
      - DOCKER_INFLUXDB_INIT_ORG=CellTracker
      - DOCKER_INFLUXDB_INIT_BUCKET=CellTracker
     # - DOCKER_INFLUXDB_INIT_RETENTION=1w #here we can define how long the data should be stored
      - DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=my-super-token  #needed to acces from c# code
    volumes:
      - type: volume
        source: influxdb2-data
        target: /var/lib/influxdb2
      - type: volume
        source: influxdb2-config
        target: /etc/influxdb2
    # networks:
    #   - cellnet

volumes:
  influxdb2-data:
  influxdb2-config:
  # mosquitto_data:
  # mosquitto_config:

#Must be added externally
#""docker network create cellnet" command for developement
# networks:
#   cellnet:
#     name: cellnet
#     driver: bridge
#     external: true 
